<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/static/epubhost.css" />
    <title>{% block title %}{% endblock %}</title>
    {% block js%}{%endblock%}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34998274-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body{%block bodyjs%}{%endblock%}>
    <div id="eph_header">
        <a href="/">ePubHost</a>
        {% if current_user %}
            <a href="/upload">Upload Books</a>
            <a href="/list">My Books</a>
            <a href="/quotes">My Quotes</a>
            <a href="/account">My Account</a>
            <a href="/logout" style="float:right;">Log Out</a>
        {% endif %}
        <a href="/about" style="float:right;">About</a>
    </div>

    <div id="eph_content">
        {% block content %}{% endblock %}
    </div>

    <div id="eph_footer">
    </div>
{%block js2%}{%endblock%}
</body>
</html>
