<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/static/epubhost.css" />
    <title>{% block title %}{% endblock %}</title>
    {% block js%}{%endblock%}
</head>

<body{%block bodyjs%}{%endblock%}>
    <div id="wrapper">
        
        <div id="header">
            <a href="/">ePubHost</a>
            {% if current_user %}
                <a href="/upload">Upload Books</a>
                <a href="/list">My Books</a>
                <a href="/quotes">My Quotes</a>
                <a href="/account">My Account</a>
                <a href="/logout" style="float:right;">Log Out</a>
            {% endif %}
            <a href="/about" style="float:right;">About</a>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
        </div>
    </div>

{%block js2%}{%endblock%}
</body>
</html>
