{% extends "base.html" %}

{% block title %}Your Books{% endblock %}

{% block content %}
    {% for epub in epubs %}
        <b>{{epub.title}}</b>
        <UL>
            <LI><a href='/edit?key={{epub.key}}'>Metadata</a></LI>
            <LI><a href='/contents?key={{epub.key}}'>Contents</a></LI>
            <LI><a href='/manifest?key={{epub.key}}'>Manifest</a></LI>
            <LI><a href='/download?key={{epub.blob.key}}'>Download</a></LI>
            <LI><a href='delete?key={{epub.key}}'>Delete</a></LI>
        </UL>
        <HR/>
    {% endfor %}
{% endblock %}
