{% extends "base.html" %}

{% block title %}ePubHost.com{% endblock %}

{% block content %}
    <UL>
        <LI><a href='/upload'>Upload</a></LI>
        <LI><a href='/account'>My Account</a></LI>
        <LI><a href='/list'>My Books</a></LI>
        <LI><a href='/quotes'>My Quotes</a></LI>
        {% if not account.googleUserID %}
            <LI><a href='{{login_url}}'>Attach Google Account</a></LI>
        {% endif %}
        {% if not account.twitterHandle %}
            <LI><a href='/auth/twitter'>Attach Twitter Account</a></LI>
        {% endif %}
        {% if not account.facebookUID %}
            <LI><a href='/auth/facebook'>Attach Facebook Account</a></LI>
        {% endif %}
        <LI><a href='/logout'>Log Out</a></LI>
    </UL>
    <form action="/search" method="GET">
        Search: <input type="search" name="q"> <input type="submit" name="submit" value="Submit">
    </form> 
{% endblock %}