<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title><!-- Insert your title here --></title>
</head>
<body>
    <UL>
        <LI><a href='/upload'>Upload</a></LI>
        <LI><a href='/list'>My Books</a></LI>
        <LI><a href='/quotes'>My Quotes</a></LI>
        {% if not account.googleUserID %}
            <LI><a href='{{login_url}}'>Attach Google Account</a></LI>
        {% endif %}
        {% if not account.twitterHandle %}
            <LI><a href='/auth/twitter'>Attach Twitter Account</a></LI>
        {% endif %}
        {% if not account.facebookUID %}
            <LI><a href='/auth/facebook'>Attach Facebook Account</a></LI>
        {% endif %}
        <LI><a href='/logout'>Log Out</a></LI>
    </UL>
    <form action="/search" method="POST">
        Search: <input type="search" name="q"><br> <input type="submit" name="submit" value="Submit">
    </form> 
</body>
</html>
