{% extends "base.html" %}

{% block title %}ePubHost.com{% endblock %}
{% block js %}
    <link type="text/css" rel="stylesheet" href="/static/auth-buttons.css" />
{% endblock %}
{% block content %}
    <div class="splash mid50">
        <h1>ePubHost</h1>
        Store, search, and share quotes from your DRM-free ebooks.
    </div>

    <div class="mid50">
        <div class="auth"><a class="btn-auth btn-facebook" href="/auth/facebook">Sign in with <b>Facebook</b></a></div>
        <div class="auth"><a class="btn-auth btn-google" href="{{login_url}}">Sign in with <b>Google</b></a></div>
        <div class="auth"><a class="btn-auth btn-twitter" href="/auth/twitter">Sign in with <b>Twitter</b></a></div>
        <hr/>
        <form action="/search" method="GET">
            <input class="input_field" type="search" name="q" placeholder="Search"/>
            <input type="hidden" name="include" value="public"/>
            <input id="search_submit" type="submit" name="submit" value="Go"/>
            <br/>
            Searches Public Domain / Creative Commons books only.
            <br/>
            (<a href="/books?show=public">View all Public Domain / Creative Commons books</a>)
        </form>
        <br/>
        <hr/>
    </div>

{% endblock %}