{% extends "base.html" %}

{% block title %}ePubHost.com{% endblock %}

{% block content %}
    <UL>
        <LI><a href='{{login_url}}'>Log In with Google</a></LI>
        <LI><a href='/auth/twitter'>Log In with Twitter</a></LI>
        <LI><a href='/auth/facebook'>Log In with Facebook</a></LI>
    </UL>
    <form action="/search" method="GET">
        Search: <input type="search" name="q"> <input type="submit" name="submit" value="Submit">
        (Public Domain / Creative Commons books only)
    </form>
{% endblock %}