{% extends "base.html" %}

{% block title %}ePubHost.com{% endblock %}
{% block js %}
    <link type="text/css" rel="stylesheet" href="/static/auth-buttons.css" />
{% endblock %}
{% block content %}
    <div class="splash_container">
        <div class="splash middle">
            <h1>ePubHost</h1>
            Store, search, and share your DRM-free ebooks.
        </div>

        <div class="middle">
            <br/>
            <a class="btn-auth btn-facebook" href="/auth/facebook">Sign in with <b>Facebook</b></a>
            <p/>
            <a class="btn-auth btn-google" href="{{login_url}}">Sign in with <b>Google</b></a>
            <p/>
            <a class="btn-auth btn-twitter" href="/auth/twitter">Sign in with <b>Twitter</b></a>
            <hr/>
            <form action="/search" method="GET">
                <input class="input_field" type="search" name="q" placeholder="Search"> <input id="search_submit" type="submit" name="submit" value="Go">
                <br/>
                (Public Domain / Creative Commons books only)
            </form>
        </div>
    </div>
    
{% endblock %}