{% extends "base.html" %}

{% block title %}{{quote.epub.title}} Quote{% endblock %}
{% block js %}
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/epubhost.js"></script>
    <script>var epub_share="false", epub_id="{{quote.epub.key.id}}", epub_title="{{quote.epub.title}}"</script>
{% endblock %}

{% block content %}
    <div class="middle">
        <br/>
        <span style="font-size:larger;">
            {{quote.html|safe}}
        </span>
        <br/>
        <br/>
        <hr/>
        <br/>
        <b><a href="/book/{{quote.epub.key.id}}">{{quote.epub.title}}</a></b>,
        section {{quote.file.order}}, &lsquo;<a href="/view/{{quote.epub.key.id}}/{{quote.file.path}}">{{quote.file.name}}</a>&rsquo;
    </div>
{% endblock %}
