{% extends "base.html" %}

{% block title %}ePubHost - Your Quotes{% endblock %}

{% block content %}
    <H2>Your Quotes</H2>
    <div class="quotes">
        <OL>
            {% for quote in quotes %}
                <LI>
                    <a href='#' onclick="if (confirm('Are you sure you want to delete this quote?')) window.location='/delete_quote?key={{quote.key}}&confirm=true';">X</a>
                    <i>{{quote.title}}</i>:
                    <a href='/quote/{{quote.key.id}}'>{{quote.text}}...</a>
                </LI>
            {% endfor %}
        </OL>
    </div>
{% endblock %}