body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration:none;
}

.clear {
  clear:both;
}

.center {
  text-align:center;
}

.middle {
  margin-left:15%;
  width:70%;
  text-align:center;
}

.mid50 {
  margin-left:25%;
  width:50%;
  text-align:center;
}

#eph_header {
  background-color:#2C2C2C;
  top:0;
  left:0;
  height:32px;
  width:100%;
  padding-top:8px;
}

#eph_header a {
  color: #999;
  font-size: 20px;
  font-weight: 200;
}

#eph_spacer {
  height:40px;
}

#eph_action a {
  color:white;
  user-select:none;
}

.splash {
  margin-top:0;
  padding-top:10px;
  padding-bottom:20px;
  background-color:#EEE;
}

.splash h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 60px;
  color: #333;
  margin-top:0;
  margin-bottom:0;
}

.auth {
  margin-top:10px;
  margin-bottom:10px;
}

.input_field, #search_submit {
  line-height:1.8em;
  font-size:1.5em;
  padding:5px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius:7px;
}

.input_field {
  width:300px;
  border: solid black 1px;
}

#search_submit {
  width:60px;
}

#eph_header a {
  margin-right:20px;
}

#eph_content {
  padding:20px;
}

.epub_div {
  padding:20px;
  width:256px;
  display:inline-block;
  vertical-align:top;
}

.epub_cover_thumb {
  padding:20px;
}

#epub_title {
  font-weight:bold;
  text-align:center;
  height:40px;
  max-height:40px;
}

#epub_author {
  font-style:italic;
  text-align:center;
  height:20px;
  max-height:20px;
}

.epub_left {
  display:inline-block;
  vertical-align:top;
}

.epub_right {
  display:inline-block;
  vertical-align:top;
  text-align:left;
}

#book_cover {
  float:right;
}

#book_contents {
  float:left;
}

.menubar li {
  display:inline;
}

.metadata_container {
  width:50%;
  margin-left:25%;
}

.metadata {
  clear:both;
  padding:10px;
  margin-bottom:20px;
}

.metakey {
  float:left;
  font-style:italic;
}

.metavalue {
  float:right;
  text-align:right;
  max-width:80%;
}

.quotes ol li {
  margin-bottom:10px;
}

.search_results ol li {
  margin-bottom:7px;
}

.search_snippet {
  font-size:small;
  font-style:italic;
  margin-left:30px;
}